@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu-Regular.ttf');
}

.COLOUR-PALLETE{
    -dark:   #011627;
    -white:  #FDFFFC;
    -blue:   #2EC4B6;
    -red:    #E71D36;
    -orange: #FF9F1C;
}

.background-form{
    -fx-background-color: #FF9F1C;
}

.background{
    -fx-background-color: #011627;
}

.x-button {
    -fx-opacity: 1;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 18px;
}

.x-button:hover{
    -fx-background-color: #fdb147;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 18px;
}

.form-text{
    -fx-opacity: 1;
    -fx-font-familys: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 16px;
}

.form{
    -fx-opacity: 1;
    -fx-border-radius: 50px;
}

.have-you-text{
    -fx-text-fill: #414141b0;
    -fx-font-family: Ubuntu;
    -fx-font-size: 14px;
}

.button{
    -fx-opacity: 1;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-background-color: #011627;
    -fx-font-size: 16px;
}

.signup-button {
    -fx-opacity: 1;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 14px;
}
.signup-button:hover{
    -fx-background-color: #fdb147;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 14px;
}

.forgot-button {
    -fx-opacity: 1;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 16px;
}

.forgot-button:hover{
    -fx-background-color: #fdb147;
    -fx-font-family: Ubuntu;
    -fx-text-fill: #FDFFFC;
    -fx-font-size: 16px;
}


